* {
  box-sizing: border-box;
  color: #111;
}

html {
  font-size: 16px;
}

body {
  background-color: #f8f1f1;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
  text-align: center;
  padding: 30px; margin: 20px;
  background-color: red;
}
.search-area {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  margin: 0 auto;
}

.search-area form {
 
  width: 23rem;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  border: 3px solid red;
  border-radius: 5px;
}

.search-area label {
  display: block;
}

.search-area input {
  margin-bottom: 1.9rem;
  font-size: 1.2rem;
  height: 1.9rem;
  width: 20rem;
}

.search-area button {
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  color: white;
  font-size: 1.1rem;
  background-color: red;
  border: #111 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.search-result {
  background-color: #f3f3f3;
  border-radius: 9px;
  margin: 1.5rem 0;
}

.video-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 30px 15px;
  border-bottom: #d8dee6 2px solid;
  text-decoration: none;
}

.video-image {
  margin: 0 20px 0 10px;
}

.video-info {
  width: 80%;
  
}

.video-info h3 {
  font-weight: 600;
  margin: 0;
}

.video-info h4 {
  font-weight: 500;
}

.video-info p {
  color: rgb(59, 57, 57);
}

